html, body, #map, #wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto';
}

.slider {
	position: relative;
	z-index: 9;
	background-color: hsl(0, 0%, 14%);
	padding: 7px;
	border-radius: 50px;
	opacity: 0.75;
	width: 85%;
	top: 91%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	color: hsl(0, 0%, 96%);
}

.flex-item {
	flex: 1;
}

input {
	min-width: 25px;
	max-width: 90%;
	flex: 10;
}
